In [1]:
from IPython.display import display, HTML

import pandas as pd

from Users import User, UserMaker
from Articles import Article, ArticleMaker

In [2]:
from platform import python_version

print(python_version())

3.9.2

# Generer des donnees 

## Generer des Users

Voir `Notebooks/Users.py` pour le code source

In [3]:
# Make 15 Users
UM = UserMaker(n=15)

# Creer un DataFrame d'utilisateur
users = UM.to_df()

# Affiche la head du DataFrame d'utilisateur
display(HTML("<H1>Users</h1>"))
display(users.head())

# Enregistrer les utilisateurs generer dans 
fn = "../data/users.json"
users.to_json(fn)
display(HTML(f"<p>{len(users)} Users saved in {fn}</p>"))

   id    nom   prenom              email       tel
0  00    One     John    j.one@lagoon.nc  43.54.32
1  01    Ten   George      g.ten@canl.nc  80.92.85
2  02    Six  Charlie  c.six@hotmail.com  67.82.78
3  03    Six   Eliott      e.six@canl.nc  27.36.48
4  04  Three    David  d.three@lagoon.nc  20.82.90

## Generer des Articles

Voir `Notebooks/Articles.py` pour le code source

In [4]:
# Make 15 Articles
AM = ArticleMaker(n=15)
articles = AM.to_df()

display(HTML("<H1>Articles</H1>"))
display(articles)

fn = "articles.json"
AM.to_json(fn)
display(HTML(f"{len(articles)} Articles saved in {fn}"))

,id,title,description,full_text,created_date,author,image
0,00,Adipisci eius quaerat quisquam amet modi velit...,Quisquam dolorem quiquia dolore ipsum quisquam...,Magnam tempora sed modi voluptatem adipisci ve...,29/04/2021 14:30:52,David THREE,https://picsum.photos/id/1000/400/200.jpg
1,01,Dolorem eius amet magnam.,Quisquam non quisquam voluptatem. Eius labore ...,Ut etincidunt velit sit dolor. Ut non dolore d...,27/04/2021 23:01:25,Ivan EIGHT,https://picsum.photos/id/1001/400/200.jpg
2,02,Ipsum porro porro amet dolor.,Quisquam velit sit magnam porro. Numquam tempo...,Eius eius sit eius neque eius quiquia amet. Te...,28/04/2021 04:12:46,Eliott ONE,https://picsum.photos/id/1002/400/200.jpg
3,03,Eius dolor amet sit ipsum quisquam.,Etincidunt voluptatem voluptatem dolor dolore ...,Modi porro sed quaerat est etincidunt. Labore ...,25/04/2021 09:50:10,Alice ONE,https://picsum.photos/id/1003/400/200.jpg
4,04,Dolore quiquia modi tempora ipsum labore ipsum...,Ipsum dolorem amet magnam est etincidunt neque...,Sed dolorem ut magnam consectetur. Ut quaerat ...,24/04/2021 03:02:18,Frank SIX,https://picsum.photos/id/1004/400/200.jpg